body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #46494C;
    color: #333;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #333;
    font-family: Doto;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 0.2em 0;
}

footer{
    background-color: #333;
    font-family: Doto;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 0.2em 0;
}
nav {
    background-color: #4C5C68;
    text-align: center;
    padding: 0.5em 0;
    
}

nav a {
    color: white;
    margin: 1em;
    text-decoration: none;
}

section {
    text-align: center;
    align-content: center;
    padding: 2em;
    max-width: 60%;
    margin: auto;
    background: #B7B4B8;
    border-radius: 0.5em;
}



h2 {
    color: #444;
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.3em;
}



li {
    font-size:20px
}

strong{
    font-size:20px
}

.Seymour {
    margin-top: 0em;
    font-size: 25px;
    margin-bottom: 0;
}

#about {
    
    column-gap: 5%;
    font-size: 20px;
}

.Desc{
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    font-size: 1.2em;
    
}


.Games {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    background-color: #8f959c;
    border-width: 5px;
    border-style: solid;
    border-color: #4C5C68;
    margin-bottom: 1em;
    margin-right: 1em;
}

.Software {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    background-color: #8f959c;
    border-width: 5px;
    border-style: solid;
    border-color: #4C5C68;
    margin-bottom: 1em;
    margin-right: 1em;
}


img{
    max-width: 100%;
}


button {
    text-align: center;
    background-color: #4E6E87;
    border-width: 3px;
    border-color: #B7B4B8;
    width: 6em;
    height: 2em;
    color: white;
    font-size: 20px;
    margin-right: 2.5em;
}

@font-face {
    font-family: 'Doto';
    src: url('Doto-SemiBold.ttf');
}
 
