body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #46494C;
    color: #333;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #333;
    font-family: Doto;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 0.1em 0;
}
header p {
    font-size: 20px;
}

footer{
    background-color: #333;
    font-family: Doto;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 0.2em 0;
}

nav {
    background-color: #3D5DBA;
    text-align: center;
    padding: 0.5em 0;
    
}

nav a {
    color: white;
    margin: 1em;
    text-decoration: none;
}

section {
    text-align: center;
    align-content: center;
    padding: 2em;
    background: #B7B4B8;
    border-radius: 0.5em;
    color: white;
    background-color: #333;
}

h2 {
    color: #4d86e2;
    border-bottom: 2px solid #ddd;
    font-size: 40px;
    padding-bottom: 0.3em;
}

h1{
    font-family: Doto;
    font-size: 60px;
    color: white;
    text-align: center;
}

.Games strong{
    font-size:35px;
    font-family: Doto;
    font-weight: bolder;
}
.Software strong{
    font-size:35px;
    font-family: Doto;
    font-weight: bolder;
}

.Games {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    background-color: #4378CC;
    border-width: 5px;
    border-style: solid;
    border-color: #4C5C68;
    margin-bottom: 1em;
    margin-right: 1em;
    color: white;
    font-size: 20px;
    border-radius: 50px;
}

.Software {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    background-color: #7a6eac;
    border-width: 5px;
    border-style: solid;
    border-color: #4C5C68;
    margin-bottom: 1em;
    margin-right: 1em;
    font-size: 20px;
    border-radius: 50px;
}

img {
    max-width: 100%;
}

iframe {
    max-width: 100%;
}

#about {

    column-gap: 5%;
    font-size: 25px;
}

#about2{
    font-size:20px;
}

button {
    text-align: center;
    background-color: #3D5DBA;
    border-width: 3px;
    border-color: #B7B4B8;
    width: 6em;
    height: 2em;
    color: white;
    font-size: 30px;
    margin-right: 2.5em;

}
footer{
    background-color: #333;
    font-family: Doto;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 0.2em 0;
}

@font-face {
    font-family: 'Doto';
    src: url('../Doto-SemiBold.ttf');
}

#awards {
    align-items: center;
    text-align: center;
}

#Gameplay {
    font-size: 20px;
}

#download {
    text-align: center;
}
#team {
    text-align: center;
}