body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #46494C;
    color: #333;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #333;
    font-family: Doto;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 0.1em 0;
}
header p {
    font-size: 20px;
}

footer{
    background-color: #333;
    font-family: Doto;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 0.2em 0;
}

nav {
    background-color: #4C5C68;
    text-align: center;
    padding: 0.5em 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

section {
    text-align: center;
    align-content: center;
    padding: 2em;
    max-width: 100%;
    margin: auto;
    background: #B7B4B8;
    border-radius: 8px;
}

h2 {
    color: #444;
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.3em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
    margin-top: 30px;
}
img {
    max-width: 100%;
}

iframe {
    max-width: 100%;
}

#about {

    column-gap: 5%;
    font-size: 25px;
}

#about2{
    font-size:20px;
}

button {
    text-align: center;
    background-color: #4E6E87;
    width: 6em;
    height: 2em;
    color: white;
    font-size: 20px;
    margin-right: 2em;
}

#contact {
    background-color: #4C5C68;
    color: black;
    font-size: 20px;
}

#C {
    color: black;
}

@font-face {
    font-family: 'Doto';
    src: url('../Doto-SemiBold.ttf');
}

#awards {
    align-items: center;
    text-align: center;
}

#Gameplay {
    font-size: 20px;
}

#download {
    text-align: center;
}
#team {
    text-align: center;
}