html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Doto';
    src: url("../../Doto-SemiBold.ttf");
}

:root{
  --Primary-BG: #46494C;
  --Secondary-BG: #3D5DBA;
}




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #46494C;
    color: #333;
}

section {
    text-align: center;
    align-content: center;
    padding: 2em;
    background: #B7B4B8;
    border-radius: 0.5em;
    color: white;
    background-color: #333;
}

li {
    font-size:20px;
    color: #8ba9da;
}

h1{
    font-family: Doto;
    font-size: 60px;
    color: white;
    text-align: center;
}

h2 {
    color: #4d86e2;
    border-bottom: 2px solid #ddd;
    font-size: 40px;
    padding-bottom: 0.3em;
}



.role-text p{
    color:#fff;
    font-size: 25px;
    text-align: center;
    white-space: pre-wrap;
}

#GameTitle{
    color:white;
    font-size: 50px;
}

#title {
    font-family: Doto;
    font-size: 60px;
    color:white;
    text-align: center;
}

#genre {
    border-bottom: 2px solid #ddd;
}

.GameDescription-text p{
    color:#fff;
    font-size: 25px;
    white-space: pre-wrap;
}

#awards{
    display: flex;
    gap: 50px;
    margin-left: 30%;
}


img{
    max-width: 85%;
}





 
