
/* =============================================
   4. Text
   ============================================= */
.about-text p{
    color:#fff;
    font-size: 20px;
    text-align: left;
    white-space: pre-wrap;
}


/* =============================================
   5. DISPLAY/LAYOUT
   ============================================= */
.about-links{
   display:inline-flex;
   align-items: center;
   gap:25px;

}

.about-links img{
  max-width: 64px;
}
  
#about {
  display: grid;
  grid-template-columns: 2fr 1fr;  /* Text left, Image right */
  align-items: center;
  padding-right: 15%;
  padding-left:15%;

  justify-content: space-between;
}

/* =============================================
   9. MOBILE RESPONSIVENESS
   ============================================= */
/*Phones and Tablets*/
@media only screen and (max-width: 1024px) {

  #about{
    padding-right: 5%;
    padding-left: 5%;
    display:flex;
    flex-direction: column;
  }

}

